################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExportSample
/ExportSample/bin
/ExportSample/obj/Debug
/packages
